/*Сбрасываем стили*/

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  /*Прячем прокрутку по горизонтали, чтобы нельзя было увидеть края красных линий, где сужается тень*/
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Настраиваем внешний вид страницы*/

html {
  scroll-behavior: smooth;
}

.conteiner-for-all {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
ul,
a {
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #000000;
}

nav {
  position: fixed;
  top: 20%;
  left: 10px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav p {
  color: #ffffff;
}

nav a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #e4d768;
}

nav a:active {
  color: #eb0000;
}

div.row a {
  text-decoration: underline;
}

.page-splitter {
  width: 105%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eb0000;
  box-shadow: 0px 8px 10px #001841;
}

h1,
h2 {
  font-family: 'IM Fell English SC', serif;
  color: #ffffff;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 39px;
}

h3 {
  margin-bottom: 15px;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

h4 {
  margin-bottom: 5px;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.page-splitter p {
  margin: -13px 0px 7px 200px;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: oblique;
}

.section-1000px {
  max-width: 1000px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.section-800px {
  max-width: 800px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.section-716px {
  max-width: 716px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.section-1000pxUl {
  max-width: 1000px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

/* About me*/

.about-me-text {
  margin-left: 50px;
}

.about-me-text p {
  margin-bottom: 20px;
}

/* My apps */

.apps-section {
  width: 1000px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.card {
  --border-thickness: 8px;
  width: calc(700px + var(--border-thickness) * 2);
  height: calc(var(--border-thickness) * 2 + 79px + 20px);
  /* 79px - высота шапки, второе число - сколько картинка будет выглядывать из-за следующей карточки */
  display: flex;
  flex-direction: column;
  border: var(--border-thickness) solid #eb0000;
  transition: height 0.3s ease-in;
}

.card:hover {
  height: calc(500px + var(--border-thickness) * 2 + 79px);
  transition: height 0.3s ease-out;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eb0000;
}

.app-name {
  color: #ffffff;
}

.app-tools {
  margin: 0px 0px 7px 200px;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: oblique;
}

.card-img {
  width: 700px;
  height: 500px;
  overflow: hidden;
  background-color: #ffffff;
}

/* Skills and languages */

.achievement-section {
  flex-direction: column;
  align-items: center;
}

.achievement-div {
  max-width: 800px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-achievement {
  margin-bottom: 40px;
  display: flex;
  transform-origin: 50% 50%;
  transition: transform 0.3s;
}

.skill-achievement:hover {
  transform: scale(104%);
  transition: transform 0.3s;
}

.skill-img {
  width: 100px;
  height: 100px;
}

.skill-img img {
  width: auto;
  height: 100px;
  object-fit: cover;
}

.skill-name-and-level {
  display: flex;
  flex-direction: column;
}

.skill-name-and-level p {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.skill-level {
  margin-top: 10px;
  display: flex;
}

.skill-level-cell {
  width: 40px;
  height: 25px;
  border: 2px solid #a57900;
}

.skill-level-fill-green {
  background-color: #19ff19;
  background-image: linear-gradient(177deg, #2cff19, #ffffff, #2cff19, #119b04);
}

.skill-level-fill-yellow {
  background-color: #ffe819;
  background-image: linear-gradient(177deg, #ffe819, #ffffff, #ffe819, #9b8b04);
}

.skill-level-fill-red {
  background-color: #ff1919;
  background-image: linear-gradient(177deg, #ff1919, #ffffff, #ff1919, #9b0404);
}

.centering {
  display: flex;
  justify-content: flex-end;
}

ul {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.code-sample {
  padding: 30px;
  margin: 0px;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  background-color: #eee9bd;
}

footer {
  width: 105%;
  display: flex;
  justify-content: center;
  background-color: #222222;
}

footer p,
footer a {
  color: #ffffff;
}

footer a:visited {
  color: #ffffff;
}

footer a:hover {
  color: #e4d768;
}

footer a:active {
  color: #eb0000;
}

.space {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.red-text {
  margin-right: 10px;
  color: #eb0000;
}

/* Adaptation */

@media (max-width: 1835px) {

  .section-1000px {
    margin-left: 410px;
    align-self: flex-start;
  }
}

@media (max-width: 1634px) {

  .section-800px {
    margin-left: 410px;
    align-self: flex-start;
  }
}

@media (max-width: 1550px) {

  .section-716px {
    margin-left: 410px;
    align-self: flex-start;
  }
}

@media (max-width: 1165px) {

  .section-1000pxUl {
    margin-left: 410px;
    align-self: flex-start;
  }
}

@media (max-width: 1170px) {

  .about-me {
    flex-direction: column;
  }

  .about-me-text {
    margin-top: 35px;
    margin-left: 0px;
  }

  .about-me img {
    align-self: center;
  }

  .about-me h3 {
    text-align: center;
  }
}

@media (max-width: 1150px) {
  .apps-section {
    align-items: flex-start;
  }

  .card {
    width: calc(500px + var(--border-thickness) * 2);
    height: calc(var(--border-thickness) * 2 + 79px + 10px);
    /* 79px - высота шапки, второе число - сколько картинка будет выглядывать из-за следующей карточки */
  }
  .card:hover {
    height: calc(357px + var(--border-thickness) * 2 + 79px);
  }
  .card-img {
    width: 500px;
    height: 357px;
  }
  .card-img img {
    width: 500px;
    height: 357px;
  }
}

@media (max-width: 900px) {
  .apps-section {
    align-items: flex-start;
  }

  .card {
    width: calc(350px + var(--border-thickness) * 2);
    height: calc(var(--border-thickness) * 2 + 79px + 10px);
    /* 79px - высота шапки, второе число - сколько картинка будет выглядывать из-за следующей карточки */
  }
  .card:hover {
    height: calc(250px + var(--border-thickness) * 2 + 79px);
  }
  .card-img {
    width: 350px;
    height: 250px;
  }
  .card-img img {
    width: 350px;
    height: 250px;
  }
  .app-tools {
    margin: 0px 0px 7px 0px;
  }
}